################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Digisoft.ProjectManagement/Digisoft.ProjectManagement/bin
/Digisoft.ProjectManagement/.vs/Digisoft.ProjectManagement
/.vs
/Digisoft.ProjectManagement/Digisoft.ProjectManagement/obj
